yarn.lock
node_modules/
build/
flatten/

node_modules
.DS_Store
.config*
report.*.json
yarn-error.log
.idea/

node_modules
.env
coverage
coverage.json
typechain
typechain-types

# Hardhat files
cache
artifacts

